@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Monaco editor and syntax highlighter overrides */
.monaco-editor .margin {
  background-color: transparent !important;
}

pre {
  border-radius: 0 0 0.375rem 0.375rem !important;
  margin: 0 !important;
}